body{
	background-image: url(./sandwhich-fondo-escritorio.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: sans-serif;
	min-height: 95vh;
	margin: 0;
}
#container{
	display: flex;
	justify-content: flex;
	margin: 25px;
}

h2{
	color: #0066FF;
}